<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<!-- Bootstrap JS and its dependencies -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<title>DateGenius</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">DateGenius</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('register') }}">Register<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('signin') }}">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('non_user_pricing') }}">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('search_restaurants') }}">Search Restaurants</a>
        </li>
      </ul>
    </div>
  </nav>

  {% if not session.get('discount_code') %}
  <!-- Coupon Module -->
  <div class="modal" tabindex="-1" role="dialog" id="discountModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Special Offer: 15% off DateGenius Subscription</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Sign up now and get a 15% discount on your DateGenius subscription. Use the discount code DATEAPP15 at registration.</p>
        </div>
        <div class="modal-footer">
          <form action="{{ url_for('claim_offer_unauthenticated') }}" method="post">
            <input type="hidden" name="offer_reply" value="true">
            <button type="submit" class="btn btn-primary">Claim Offer</button>
          </form>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  
  <script>
    function showModal() {
      var modal = document.getElementById('discountModal');
      modal.style.display = 'block';
    }

    window.onload = showModal;
    $("#discountModal").modal("show");
    $('#discountModal').on('hidden.bs.modal', function () {
    $('#discountModal form')[0].reset();
    });
  </script>
{% endif %}

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Plan your perfect date!</h1>
      <p class="lead">Our app makes it easy to find activities that you and your date will love. Get started today!</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Get started</a>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card shadow mb-4">
          <img src="{{ url_for('static', filename='pictures/stargazing.jpg') }}" alt="Stargazing" class="card-img-top">
          <div class="card-body">
            <h2 class="card-title">Stargazing</h2>
            <p class="card-text">Escape the city lights and spend a romantic evening under the stars. Bring a blanket and some snacks to enjoy while gazing at the constellations.</p>
            <a href="https://www.go-astronomy.com/dark-sky-sites.php" class="btn btn-secondary">View details »</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card shadow mb-4">
          <img src="{{ url_for('static', filename='pictures/winetasting.png') }}" alt="Wine Tasting" class="card-img-top">
          <div class="card-body">
            <h2 class="card-title">Wine Tasting</h2>
            <p class="card-text">Visit a local winery or wine bar and enjoy a tasting experience together. Learn about different wines, how they're made, and find your new favorite.</p>
            <a href="https://www.winetourism.com/" class="btn btn-secondary">View details »</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card shadow mb-4">
          <img src="{{ url_for('static', filename='pictures/cooking-class.jpg') }}" alt="Cooking Class" class="card-img-top">
          <div class="card-body">
            <h2 class="card-title">Cooking Class</h2>
            <p class="card-text">Take a cooking class together and learn how to make a delicious meal from scratch. It's a fun and interactive way to bond while creating something tasty.</p>
            <a href="https://new-york.selfup.com/" class="btn btn-secondary">View details »</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  


  
</body>
</html>